body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
}
/* Top bar */
body > div:first-child {
    padding: 0.5em 1em;
    background: #000;
    color: #fff;
}
body > div:first-child a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/* Tree view */
/*.tab-form > .screen-container > .content-box > .treeview > table.tree*/
.treeview > table.tree {
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    /*border: 1px solid #dddddd; /* bordered */
    border-bottom: 2px solid #aaaaaa;
}

.treeview > table.tree > thead > tr > th,
.treeview > table.tree > tbody > tr > td {
    padding: 3px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #aaaaaa;
    /*border: 1px solid #dddddd; /* bordered */
    /*border-bottom-width: 2px; /* bordered */
}
.treeview > table.tree > thead > tr > th {
    vertical-align: bottom;
    border-top: none;
    border-bottom: 2px solid #aaaaaa;
}

.treeview > table.tree > thead > tr > th td,
.treeview > table.tree > tbody > tr > td td {
    line-height: inherit;
}

/* Tree view: menu */
.treeview > table.tree img.column-affix {
    margin-right: 0.5em;
}
/* Dialogs */
.ui-dialog {
    /*min-width: 70%;*/
    max-width: 90%;
    width: auto !important;
}
.ui-dialog-content > label {
    display: inline-block;
    float: left;
    clear: left;
    width: 80px;
    padding: 3px 1em 3px 0;
}
.ui-dialog-content > label + select,
.ui-dialog-content > label + input {
    display: inline-block;
    float: left;
}
/* Main Tabs */
#tabs > .ui-tabs {
    border: none;
}
.tab-title-bar {
    padding: 0.1em;
}
.tab-title .ui-button-text {
    /*font-size: 1.3em; commented because font-size in body */
    font-size: 1.5em;
    padding: .2em 1em .2em 2.1em;
}
/* Toolbar & filter */
.filter-box tr td:nth-child(2) input {
    font-size: 1.4em;
}
.tab-toolbar .ui-button .ui-button-text,
.filter-box .ui-button .ui-button-text {
    /*font-size: .9em;  commented because font-size in body */
    padding: .3em .4em;
}
.tab-toolbar .ui-button-text-icon-primary .ui-button-icon-primary,
.tab-toolbar .ui-button-text-icons .ui-button-icon-primary,
.tab-toolbar .ui-button-icons-only .ui-button-icon-primary {
    left: .3em;
}
.tab-toolbar .ui-button-text-icon-primary .ui-button-text {
    padding-left: 1.8em;
    padding-right: .7em;
}
.tab-toolbar .ui-button-text-icons .ui-button-text {
    padding-left: 1.8em;
    padding-right: 1.8em;
}

/* Form View */
.form-notebook > .ui-widget-header {
    background: none!important;
    border: none;
    border-collapse: collapse;
    border-bottom: 1px solid #aaaaaa;
    /* next lines could be fixed removing the ui-corner-all class from widget */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.form td.form-label {
    padding-left: .5em;
}
.form td.form-label+td {
    padding-right: .5em;
}
.form input.ui-widget {
    padding-left: .3em;
    padding-right: .3em;
    line-height: 1.4em;
}

/*.form .form-many2one div input, .form .form-date div input, .form .form-binary div input, .form .form-reference div input*/
.form .form-many2one div input, .form .form-date div input, .form .form-binary div input, .form .form-reference div input {
    width: 97%;
    line-height: 1.4em;
}
.form .form-reference div span,
.form .form-reference div select {
    line-height: 1.4em;
    padding: .1em;
}

.form .form-many2one .ui-button-icon-only .ui-button-text,
.form .form-date .ui-button-icon-only .ui-button-text,
.form .form-binary .ui-button-icon-only .ui-button-text,
.form .form-reference .ui-button-icon-only .ui-button-text {
    padding: .1em;
}

/* one2many, many2many widget */
.form .form-one2many-menu,
.form .form-many2many-menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form .form-one2many-menu .form-one2many-string,
.form .form-many2many-menu .form-many2many-string {
    margin: 5px;
}

.form .form-one2many-toolbar button.ui-button-icon-only,
.form .form-many2many-toolbar button.ui-button-icon-only {
    width: 1.6em;
}
.form .form-one2many-toolbar .ui-button-icon-only .ui-button-text,
.form .form-one2many-toolbar .ui-button-icons-only .ui-button-text,
.form .form-many2many-toolbar .ui-button-icon-only .ui-button-text,
.form .form-many2many-toolbar .ui-button-icons-only .ui-button-text {
    padding: 0;
}
.form .form-one2many-toolbar .form-one2many-label,
.form .form-many2many-toolbar .form-one2many-label {
    padding: 0 .4em;
}

.form .form-one2many-content,
.form .form-many2many-content {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form .form-one2many-content .treeview table.tree,
.form .form-many2many-content .treeview table.tree {
    margin-top: 0;
}

/* Separator */
.form-separator hr { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
.form-separator hr:before {
    top: -0.5em;
    height: 1em;
}
.form-separator hr:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}
.form-separator hr:before, .form-separator hr:after {
    content: '';
    position: absolute;
    width: 100%;
}
.form-separator hr, .form-separator hr:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}
.form-separator span {
    font-weight: bold;
}